<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-body">
                <div id="toolbar" class="row tbRow">
                    <table style="margin-bottom:45px;margin-top:45px;margin-left:50px;width: 1000px; height:400px;background-color: #fbfbfb;">
                        <tr>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">质量区间</td>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">分值区间</td>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">评价级别</td>
                            <td style="width: 200px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">HTTP访问成功率(%)</td>
                            <td style="width: 200px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">HTTP响应时延(ms)</td>
                            <td style="width: 200px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">HTTP下行速率(KB/s)</td>
                        </tr>
                        <tr>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">一</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">(90,100]</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">优</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">90≤X1<100</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">0≤X2<140</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">X3≥600</td>
                        </tr>
                        <tr>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">二</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">(80,90]</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">良</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">80≤X1<90</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">140≤X2<195</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">150≤X3<600</td>
                        </tr>
                        <tr>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">三</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">(60,80]</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">中</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">60≤X1<80</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">195≤X2<270</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">30≤X3<150</td>
                        </tr>
                        <tr>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">四</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">(40,60]</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">差</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">40≤X1<60</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">270≤X2<500</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">10≤X3<30</td>
                        </tr>
                        <tr>
                            <td style="width: 100px;border:solid 1px;background-color:#e0e0e0;font-size:23px;text-align:center;font-family: SimSun">五</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">0</td>
                            <td style="width: 100px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">很差</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">X1<40</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">X2≥500</td>
                            <td style="width: 200px;border:solid 1px;font-size:23px;text-align:center;font-family: SimSun">0≤X3<10</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>